body{
                padding:20px;
                background-color:#000000;
                border: 20px solid #70587C;
                border-radius: 20px;
                width: auto;
            }
            div{
                padding: 10px;
                background-color: #502F4C;
                border: 15px solid #C8B8DB ;
                border-radius: 15px;
                color: #F9F4F5;
            }
            a{
                color: #C8B8DB;
            }
            p{
                font-size: 15px;
            }
            h1{
                color: #F9F4F5;
            }
            h4{
                color: #C8B8DB;
                text-decoration-line: underline;
            }